<button class="btn btn-success mt-2 ">
  <a style="text-decoration: none ;color: white" href="create.html">
    Add new facility
  </a>
</button>


<div class="container-fluid mx-2">
  <h2>FACILITY LIST</h2>

  <!--    <p>-->
  <!--        <a href="index1.html">-->
  <!--            Back to facility list-->
  <!--        </a>-->
  <!--    </p>-->

  <table id="facilityTable1" class="container">

    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
    </thead>
    <tbody>
    <tr >
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

<!--    <tr>-->
<!--      <td>-->
<!--        <div class="card shadow  " style="width: 17rem;margin: auto">-->
<!--          <img style="height: 200px"-->
<!--               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUc7XJDl8kLom92SNfOWCO361c7_oNE54gWA&usqp=CAU"-->
<!--               class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">An item</li>-->
<!--            <li class="list-group-item">A second item</li>-->
<!--            <li class="list-group-item">A third item</li>-->
<!--          </ul>-->
<!--          <div class="card-body">-->
<!--            <a href="edit.html" class="card-link btn btn-primary">UPDATE</a>-->
<!--            <a style="margin-left: 50px" href="#" role="button"-->
<!--               class="card-link btn btn-danger">DELETE</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        -->
<!--      </td>-->

<!--      <td>-->
<!--        <div class="card shadow  " style="width: 17rem;margin: auto">-->
<!--          <img style="height: 200px"-->
<!--               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzHGQhT1Vps9-Hv7z7tflDz3PxpN9d2NS9MA&usqp=CAU"-->
<!--               class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">An item</li>-->
<!--            <li class="list-group-item">A second item</li>-->
<!--            <li class="list-group-item">A third item</li>-->
<!--          </ul>-->
<!--          <div class="card-body">-->
<!--            <a href="#" class="card-link btn btn-primary">UPDATE</a>-->
<!--            <a style="margin-left: 50px" href="#" role="button"-->
<!--               class="card-link btn btn-danger">DELETE</a>-->
<!--          </div>-->
<!--        </div>-->

<!--      </td>-->


<!--      <td>-->
<!--        <div class="card shadow  " style="width: 17rem;margin: auto">-->
<!--          <img style="height: 200px"-->
<!--               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUc7XJDl8kLom92SNfOWCO361c7_oNE54gWA&usqp=CAU"-->
<!--               class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">An item</li>-->
<!--            <li class="list-group-item">A second item</li>-->
<!--            <li class="list-group-item">A third item</li>-->
<!--          </ul>-->
<!--          <div class="card-body">-->
<!--            <a href="#" class="card-link btn btn-primary">UPDATE</a>-->
<!--            <a style="margin-left: 50px" href="#" role="button"-->
<!--               class="card-link btn btn-danger">DELETE</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </td>-->


<!--      <td>-->
<!--        <div class="card shadow  " style="width: 17rem;margin: auto">-->
<!--          <img style="height: 200px"-->
<!--               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxljL83gT8h1qZYds2CgNpJtB0Bfwy9f6iqQ&usqp=CAU"-->
<!--               class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">An item</li>-->
<!--            <li class="list-group-item">A second item</li>-->
<!--            <li class="list-group-item">A third item</li>-->
<!--          </ul>-->
<!--          <div class="card-body">-->
<!--            <a href="#" class="card-link btn btn-primary">UPDATE</a>-->
<!--            <a style="margin-left: 50px" href="#" role="button"-->
<!--               class="card-link btn btn-danger">DELETE</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </td>-->
<!--    </tr>-->

<!--    <tr>-->
<!--      <td>-->

<!--        <div class="card shadow  " style="width: 17rem;margin: auto">-->
<!--          <img style="height: 200px"-->
<!--               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxljL83gT8h1qZYds2CgNpJtB0Bfwy9f6iqQ&usqp=CAU"-->
<!--               class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">An item</li>-->
<!--            <li class="list-group-item">A second item</li>-->
<!--            <li class="list-group-item">A third item</li>-->
<!--          </ul>-->
<!--          <div class="card-body">-->
<!--            <a href="#" class="card-link btn btn-primary">UPDATE</a>-->
<!--            <a style="margin-left: 50px" href="#" role="button"-->
<!--               class="card-link btn btn-danger">DELETE</a>-->
<!--          </div>-->
<!--        </div>-->

<!--      </td>-->

<!--      <td>-->

<!--        <div class="card shadow  " style="width: 17rem;margin: auto">-->
<!--          <img style="height: 200px"-->
<!--               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgF9Ed18EEHpNxdcygSzD2M_COc0b6cClnng&usqp=CAU"-->
<!--               class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">An item</li>-->
<!--            <li class="list-group-item">A second item</li>-->
<!--            <li class="list-group-item">A third item</li>-->
<!--          </ul>-->
<!--          <div class="card-body">-->
<!--            <a href="#" class="card-link btn btn-primary">UPDATE</a>-->
<!--            <a style="margin-left: 50px" href="#" role="button"-->
<!--               class="card-link btn btn-danger">DELETE</a>-->
<!--          </div>-->
<!--        </div>-->

<!--      </td>-->
<!--      <td>-->

<!--        <div class="card shadow  " style="width: 17rem;margin: auto">-->
<!--          <img style="height: 200px"-->
<!--               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJd3s47ymJIvsBmBptMYL7H8F_n-DnLoJHYB9EkVJYXvyiox8NnvO4SSgGYwPZhREJbL0&usqp=CAU"-->
<!--               class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">An item</li>-->
<!--            <li class="list-group-item">A second item</li>-->
<!--            <li class="list-group-item">A third item</li>-->
<!--          </ul>-->
<!--          <div class="card-body">-->
<!--            <a href="#" class="card-link btn btn-primary">UPDATE</a>-->
<!--            <a style="margin-left: 50px" href="#" role="button"-->
<!--               class="card-link btn btn-danger">DELETE</a>-->
<!--          </div>-->
<!--        </div>-->

<!--      </td>-->
<!--      <td>-->

<!--        <div class="card shadow  " style="width: 17rem;margin: auto">-->
<!--          <img style="height: 200px"-->
<!--               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeewEsJUg5idz9k-WSAMrn74YpZ_s6txjGsreXf3Sw1QVMuMLjSj7_91743G9sWRQYQ-M&usqp=CAU"-->
<!--               class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">An item</li>-->
<!--            <li class="list-group-item">A second item</li>-->
<!--            <li class="list-group-item">A third item</li>-->
<!--          </ul>-->
<!--          <div class="card-body">-->
<!--            <a href="#" class="card-link btn btn-primary">UPDATE</a>-->
<!--            <a style="margin-left: 50px" href="#" role="button"-->
<!--               class="card-link btn btn-danger">DELETE</a>-->
<!--          </div>-->
<!--        </div>-->

<!--      </td>-->
<!--    </tr>-->
    </tbody>

  </table>
</div>




