<h1>Sửa thông tin sản phẩm</h1>
<form [formGroup]="productForm" (ngSubmit)="updateProduct()">
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="text" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
      <td class="alert alert-danger" role="alert"
          *ngIf="productForm.controls.description.hasError('required') &&
                      productForm.controls.description.touched">
        Số CMND/CCCD không được để trống!</td>
      <td class="alert alert-danger" role="alert"
          *ngIf="productForm.controls.description.hasError('pattern') &&
                      productForm.controls.description.touched">
        CMND/CCCD phải đúng định dạng XXXXXXXXX hoặc XXXXXXXXXXXX (X là số 0-9)!</td>
    </tr>
    <tr>
      <td>Danh mục sản phẩm</td>
      <td><select formControlName="category" [compareWith]="compareWithId">
        <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
      </select></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button>Lưu thay đổi</button>
      </td>
    </tr>
  </table>
</form>
