<div class="bgFacility">
<div class="head">
  <h2>ADD NEW FACILITY</h2>
  <p>
    <a href="index1.html">
      Back to facility list
    </a>
  </p>
</div>

<div class=" d-flex justify-content-center ">
  <div class="modal-dialog">
    <form class="mx-5 px-5 pt-3 border border-2 border-success p-3 rounded form "
          action="@{/facility/create}"
          method="POST" novalidate="novalidate">
      <div class="modal-content modal-body">
        <div>
          <input type="hidden"/>
        </div>

        <div>
          <label>Facility Type</label>

          <select class="form-select">
            <option></option>
          </select>

        </div>

        <div>
          <label>Name</label>
          <input type="text"/>

        </div>
        <div>
          <label>Area</label>
          <input type="text"/>

        </div>
        <div>
          <label>Cost</label>
          <input type="text"/>

        </div>
        <div>
          <label>Max People</label>
          <input type="text"/>

        </div>

        <div>
          <label>Rent Type</label>
          <p class="option">
            <select class="form-select">
              <option></option>
            </select>
          </p>

        </div>

        <div id="standard">
          <label>Standard Room</label>
          <input type="text"/>

        </div>
        <div id="des">
          <label>Description</label>
          <input type="text"/>
        </div>
        <div id="pool">
          <label>Pool Area</label>
          <input type="text"/>

        </div>
        <div id="floors">
          <label>Floors</label>
          <input type="text"/>

        </div>
        <div id="free">
          <label>Facility Free</label>
          <input type="text"/>

        </div>


        <input type="submit" value="Save"/>
      </div>

    </form>
  </div>
</div>
</div>
