<div class="container-fluid bg-gray-500 d-flex myCSS" style="height: 150px">
  <img class="h-100 p-4" src="https://www.furama.com/images/LOGOFurama_4C_Normal.png" alt="">
  <div class="h-100 p-4">

    <li><span><i class="fa fa-map-marker"></i></span>
      103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City,
      Vietnam
      7,0 km from Danang Airport
    </li>
    <li><span><i class="fa fa-phone"></i></span>+84 799 752 479</li>


  </div>


  <div class="h-100 p-4">
    <ul class="list-unstyled list-inline">
      <li><a href="login.html"><span><i class="fa fa-lock"></i></span>Login</a></li>
      <li><a href="registration.html"><span><i class="fa fa-plus"></i></span>Sign Up</a></li>
      <li>
        <form>
          <ul class="list-inline">
            <li>
              <div class="form-group currency">
                <span><i class="fa fa-angle-down"></i></span>
                <select>
                  <option value="">$</option>
                  <option value="">£</option>
                </select>
              </div><!-- end form-group -->
            </li>

            <li>
              <div class="form-group language">
                <span><i class="fa fa-angle-down"></i></span>
                <select>
                  <option value="">EN</option>
                  <option value="">UR</option>
                  <option value="">FR</option>
                  <option value="">IT</option>
                </select>
              </div><!-- end form-group -->
            </li>
          </ul>
        </form>
      </li>
    </ul>
  </div><!-- end links -->

</div><!-- end top-bar -->



