<div class="bgFacility">
  <div class="p-3 px-5 ">
    <h2 class="text-center fw-bold mt-3">
      BOOK LIST</h2>

    <nav class="navbar navbar-expand-lg py-0 my-0">
      <div class="container-fluid">
        <a routerLink="/create">
          <button class="btn btn-primary btn-outline-secondary">
            <span class="text-light"> Add book</span>
          </button>
        </a>

        <div class="d-flex my-2" role="search">
          <input class="form-control me-2 search" type="text" placeholder="Nhập tên.." aria-label="Search"
                 [(ngModel)]="customerSearch.customerName">
          <select class="form-select me-2 search " [(ngModel)]="bookListPaging" [compareWith]="compareWithId">
            <option value="{{bookListPaging}}" disabled > ID..</option>
            <option *ngFor="let item of bookListPaging" [ngValue]="item">{{item.id}}</option>
          </select>
          <button class="btn btn-light btn-outline-primary search1" (click)="searchByMore()">
            <i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </nav>

    <table class=" furamas mb-3 " >
      <thead>
      <tr>
        <th>Index</th>
        <th>Book ID</th>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Date Open</th>
        <th>Time Start</th>
        <th>Time Out</th>
        <th>Send Money</th>
        <th>Interested</th>
        <th>Free</th>
        <th class="text-center">Update</th>
        <th class="text-center">Delete</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of bookListPaging; index as i">
        <td class="text-center">{{i + 1 + (curPage - 1) * numberRecord}}</td>
        <td>{{item.id}}</td>
        <td>{{item.customer.id}}</td>
        <td>{{item.customer.customerName | titlecase}}</td>
        <td>{{item.dateOpen | date: "dd/MM/yyyy"}}</td>
        <td>{{item.timeStart | date: "dd/MM/yyyy"}}</td>
        <td>{{item.timesOut | date: "dd/MM/yyyy"}}</td>
        <td>{{item.sendMoney}}</td>
        <td>{{item.interested}}</td>
        <td>{{item.free}}</td>
        <td><a routerLink="/edit/{{item.id}}" class="btn btn-warning ">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
               class="bi bi-pen" viewBox="0 0 16 16">
            <path
              d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
          </svg>
        </a></td>
        <td>
          <button
            class="btn btn-sm" data-bs-toggle="modal"
            data-bs-target="#deleteCustomer" (click)="getInfoCustomerDelete(item.id)">
                    <span class="btn btn-info">
                         <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                              class="bi bi-trash3" viewBox="0 0 16 16">
                                <path
                                  d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                    </span>
          </button>
        </td>

      </tr>
      </tbody>
    </table>

    <nav aria-label="..." class="justify-content-center d-flex">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" (click)="previos()" *ngIf="curPage > 1">&laquo; Trang trước</a>
        </li>
        <li class="page-item disabled" *ngIf="curPage <= 1">
          <a class="page-link">&laquo;</a>
        </li>

        <li class="page-item"><a class="page-link disabled" href="" [text]="curPage + ' / ' + totalPage"
                                 *ngIf="curPage <= totalPage"></a>
        </li>

        <li class="page-item">
          <a class="page-link" (click)="next()" *ngIf="curPage < totalPage">Trang sau &raquo;</a>
        </li>
        <li class="page-item disabled" *ngIf="curPage >= totalPage">
          <a class="page-link">&raquo;</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="modal fade" id="deleteCustomer" tabindex="-1" aria-labelledby="exampleModalLabel1"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modalCSS">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Bạn có chắc chắn muốn xóa?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <span class="h6">Mã số sổ:</span><strong class="text-danger ps-2">{{bookIdDelete}}</strong>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteBook()">Xóa</button>
        </div>
      </div>
    </div>
  </div>
</div>
