<div class="row">
  <nav id="nav" class="navbar navbar-expand-lg navbars ">
    <div class="container-fluid mx-3 col-5">
      <a class="navbar-brand" href="home.html">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
             class="bi bi-house-heart-fill" viewBox="0 0 16 16">
          <path
            d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
          <path
            d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
        </svg>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown ms-3">
            <a class="nav-link dropdown-toggle font1 " href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">Employee</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/employee">Employee list</a></li>
              <li><a class="dropdown-item" href="/employee/create">Add new Employee</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown ms-3">
            <a class="nav-link dropdown-toggle  font1" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">Customer</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item "
                     href="http://localhost:63342/case_study_modul5/webstorm/home/templates/customer/index1.html?_ijt=n7m14fjcrf7elc5erglq9fgnqd&_ij_reload=RELOAD_ON_SAVE">Customer
                list</a></li>
              <li><a class="dropdown-item " href="/customer/create">Add new Customer</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown ms-3">
            <a class="nav-link dropdown-toggle font1 " href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">Service</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"
                     href="http://localhost:63342/case_study_modul5/webstorm/home/templates/facility/header.html?_ijt=1nm2unrhdlabos53345i2ntl42&_ij_reload=RELOAD_ON_SAVE">Facility
                list</a></li>
              <li><a class="dropdown-item" href="/facility/create">Add new Facility</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown ms-3">
            <a class="nav-link dropdown-toggle font1 " href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">Contract</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"
                     href="http://localhost:63342/case_study_modul5/webstorm/home/templates/contract/index.html?_ijt=1nm2unrhdlabos53345i2ntl42&_ij_reload=RELOAD_ON_SAVE">Contract
                list</a></li>
              <li><a class="dropdown-item" href="/contract/create">Add new Contract</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
    <div class="container col-7 ">
      <marquee>
        <h2 style="color: darkcyan; font-family: Arial; font-weight: bold">FURAMA XIN KÍNH CHÀO QUÝ KHÁCH!</h2>
      </marquee>
    </div>
  </nav>
</div>
