<div class="container-fluid bgFacility">
  <h2>CUSTOMER LIST</h2>
  <div class="mx-lg-2">
    <div class="row mt-2">
      <div class="col-2">
        <button class="btn btn-success ">
          <a style="text-decoration: none ;color: white" routerLink="create">
            Add new customer
          </a>
        </button>
      </div>

      <div class="col-2 notify">

      </div>

      <div class="col-8">
        <div class="d-flex my-2 row" role="search">

          <div class="col-4">

            <input type="text" placeholder="Nhập tên.." aria-label="Search"
                   [(ngModel)]="customerNameSearch">
          </div>
          <div class="col-1">
            <button type="submit" class="btn btn-light btn-outline-danger ms-1" (click)="searchByMore()">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                   class="bi bi-search-heart-fill" viewBox="0 0 16 16">
                <path
                  d="M6.5 13a6.474 6.474 0 0 0 3.845-1.258h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.008 1.008 0 0 0-.115-.1A6.471 6.471 0 0 0 13 6.5 6.502 6.502 0 0 0 6.5 0a6.5 6.5 0 1 0 0 13Zm0-8.518c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
              </svg>
            </button>
          </div>
        </div>


      </div>
    </div>

    <div class="mt-2">
      <table id="customerTable" class="furamas mb-3 ">
        <thead>
        <tr>
          <th>Index</th>
          <th>Name</th>
          <th>Customer type</th>
          <th>Date of birth</th>
          <th>Gender</th>
          <th>ID card</th>
          <th>Phone number</th>
          <th>Email</th>
          <th>Address</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cus of (customer$| async); index as i">
          <td>{{i + 1 + (page - 1) * pageSize}}</td>
          <td>{{cus.name}}</td>
          <td>
            {{cus.customerType.name}}

          </td>
          <td>{{cus.dateOfBirth}}</td>
          <td>
            <span *ngIf="cus.gender == 1">nam</span>
            <span *ngIf="cus.gender == 0">nữ</span>
            <span *ngIf="cus.gender == 2">LGBT</span>
          </td>
          <td>{{cus.idCard}}</td>
          <td>{{cus.phone}}</td>
          <td>{{cus.email}}</td>
          <td>{{cus.address}}</td>
          <td><a routerLink="/customer/edit/{{cus.id}}" class="btn btn-warning ">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                 class="bi bi-pen" viewBox="0 0 16 16">
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
            </svg>
          </a></td>
          <td>
            <button
              class="btn btn-sm" data-bs-toggle="modal"
              data-bs-target="#exampleModal" (click)="getInfoCustomerDelete(cus.name, cus.id)">
                    <span class="btn btn-info">
                         <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                              class="bi bi-trash3" viewBox="0 0 16 16">
                                <path
                                  d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                    </span>
            </button>
          </td>
        </tr>

        </tbody>
      </table>

    </div>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="(total$ | async)!"
        [(page)]="page"
        [maxSize]="3"
        [pageSize]="pageSize"
        (pageChange)="searchByMore()">
      </ngb-pagination>

      <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="searchByMore()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
        <option [ngValue]="50">50 items per page</option>
      </select>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel1"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modalCSS">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel1">Bạn có chắc chắn muốn xóa?</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <span class="h6">Khách hàng:</span><strong class="text-danger ps-2">{{customerNameDelete}}</strong>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteCustomer()">Xóa</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


