body {
    height: 100%;
    width: 100%;

    /*background-image: url("https://img.freepik.com/free-vector/luxury-abstract-gold-background-with-shiny-elements_23-2148827898.jpg?w=2000");*/
}


.myCSS {
    background-color: #E6BB72;
    height: 100%;
    width: 100%;

}

a {
    text-decoration: none;
    color: deeppink;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin: auto;
    text-align: center;
    width: 100%;
    /*background-image: url("https://img.freepik.com/free-vector/watercolor-background-with-hand-drawn-elements_23-2148867455.jpg?w=2000");*/
    color: black;
    padding: 10px 0 10px 20px;
}


#furamas {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#furamas td, #furamas th {
    border: 1px solid orchid;
    padding: 8px;
    text-align: left;
}

#furamas tr:nth-child(even) {
    background-color: pink;
}

#furamas tr:hover {
    background-color: deeppink;
}

#furamas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: purple;
    color: white;
}


.pages {
    text-decoration: none;
    border: darkgray;

}

input[type=text], input[type=email], input[type=date], .form-control, .form-select {
    width: 100%;
    padding: 12px 0px;
    margin: 8px 0 20px;
    display: inline-block;
    border: 1px solid deeppink;
    border-radius: 6px;
    box-sizing: border-box;

}

input[type=submit] {
    width: 150px;
    background-color: deeppink;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

input[type=search] {
    width: 200px;
    height: 40px;
    background-color: lightgrey;
    color: black;
    padding: 5px 5px;
    margin-left: 10px;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.navbars {
    background-image: url("https://img.freepik.com/free-vector/watercolour-background-with-leaves_91008-314.jpg?w=2000");
}

.head {
    text-align: center;
}

#form {
    width: 300px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.info {
    margin: 15px 0 0 10px
}


.notify span {
    font-size: 15px;
    color: blue;
}